<!-- Header Admin -->
<app-header-shared-admin/>
<main id="adminDashboard" class="main-container">
  <section class="dashboard-sidebar" aria-label="menu lateral">
    <div class="sibebar-btn-container">
      <button type="button" class="sidebar-btn">
        <ion-icon name="caret-back"></ion-icon>
      </button>
    </div>
    <nav class="sidebar-nav-container">
      <ul>
        <li>
          <a href="dashboard/vehicles">
            <ion-icon name="car"></ion-icon>
            <span>Vehicles</span>
          </a>
        </li>
        <li>
          <a href="dashboard/users">
            <ion-icon name="person-circle"></ion-icon>
            <span>Users</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section>
    
  </section>
</main>
<!-- Footer -->