<!-- Header Admin -->
<app-header-shared-admin />
<main id="adminDashboard" class="main-container">
  <!-- Sidebar -->
  <section class="dashboard-sidebar" aria-label="menu lateral">
    <nav class="sidebar-nav-container">
      <ul>
        <li>
          <a href="dashboard/vehicles">
            <ion-icon name="car"></ion-icon>
            <span>Vehicles</span>
          </a>
        </li>
        <li>
          <a href="dashboard/users">
            <ion-icon name="person-circle"></ion-icon>
            <span>Users</span>
          </a>
        </li>
        <li>
          <a href="dashboard/panel">
            <ion-icon name="settings"></ion-icon>
            <span>Panel</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="sibebar-btn-container">
      <button type="button" class="sidebar-btn">
        <ion-icon name="caret-back"></ion-icon>
      </button>
    </div>
  </section>
  <!-- Sidebar -->

  <!-- Content -->
  <section class="dashboard-content">
    <app-vehicle-adm></app-vehicle-adm>
    <!--Users Section-->
    <section class="dashboard-section"></section>
    <!--Panel Section-->
    <section class="dashboard-section"></section>
  </section>
  <!-- Content -->
</main>
<!-- Footer -->
