@if (showFooter) {
<footer class="footer">
  <section class="footer-info-container">
    <article class="footer-info">
      <div class="footer-socials">
        <span>
          <a href="#" target="_blank">
            <ion-icon name="logo-instagram" size="large"></ion-icon>
          </a>
        </span>

        <span>
          <a href="#" target="_blank">
            <ion-icon name="logo-x" size="large"></ion-icon>
          </a>
        </span>

        <span>
          <a href="#" target="_blank">
            <ion-icon name="logo-youtube" size="large"></ion-icon>
          </a>
        </span>

        <span>
          <a href="#" target="_blank">
            <ion-icon name="logo-facebook" size="large"></ion-icon>
          </a>
        </span>
      </div>
      <div class="">
        <span>
          <ion-icon name="mail" size="large"></ion-icon>
          email_daford&#64;mail.com
        </span>
      </div>
    </article>
    <article class="footer-info">
      <div class="footer-content">
        <ul class="footer-column-link">
          <strong>Veículos</strong>
          <li><a routerLink="">SUV</a></li>
          <li><a routerLink="">Esportivos</a></li>
          <li><a routerLink="">Off-Roads</a></li>
          <li><a routerLink="">Especiais</a></li>
          <li><a routerLink="">Premiums</a></li>
        </ul>
        <ul class="footer-column-link">
          <strong>About us</strong>
          <li><a routerLink="">História & Origem</a></li>
          <li><a routerLink="">Mercado</a></li>
          <li><a routerLink="">Automobilismo</a></li>
          <li><a routerLink="">Nomes importantes</a></li>
        </ul>
      </div>
    </article>
  </section>
  <section class="footer-copy-container">
    <div id="copyright" align="center">
      &copy; 2025 www.ford-enter.com - All Rights Reserved.
    </div>
  </section>
</footer>
}