@use '../../../scss-styles/colors.scss';

.footer {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr minmax(90px, 100%);
  color: #fff;
  padding-top: 2rem;
  background-color: colors.$international-klein-blue;
}

.footer-info-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  & .footer-info {
    width: 100%;
    color: #fff;
    padding: 8px 0;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #ffffff20;

    & .footer-socials {
      display: flex;
      flex-flow: row;
      gap: 0.65rem;
      flex-grow: 1;
      align-items: center;

      & a {
        color: #fff;
      }
    }

    & .footer-content {
      padding: 1rem 0;
      display: flex;
      gap: 2.5rem;
      justify-content: flex-end;
      align-items: stretch;
      flex-flow: row wrap;
      flex-grow: 1;

      & .footer-column-link {
        width: 100%;
        max-width: 220px;
        display: flex;
        flex-flow: column nowrap;
      }
      & .footer-column-link strong {
        color: #dadada !important;
        font-size: 16.5pt;
        user-select: none;
        font-family: 'Roboto Condensed';
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #eaeaea;
      }
      & .footer-column-link li {
        list-style: none;
        line-height: 1.5;
      }
      & .footer-column-link li a {
        color: #fff;
        font-size: 13.4pt;
        text-decoration: none;

        &:hover {
          opacity: 90%;
          text-decoration: underline;
        }
      }
    }

    & div:nth-child(2) span {
      display: flex;
      border-radius: 4px;
      padding: 2px;
      font-weight: 200;
      user-select: all;
      color: #fff;
      align-items: center;
      gap: 3px;
      font-size: 14pt;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}

.footer-copy-container {
  height: 100%;
  margin-top: 1rem;
  min-height: 90px;
  background-color: #fff;
  color: colors.$neon-blue !important;
  font-size: 14pt;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
}
