<header class="header-admin">
  <section class="header-admin-container">
    <div class="header-admin-logo">
      <img width="100" src="/logo/logo-ford-400.png" alt="">
    </div>
    <nav class="header-nav-admin">
      <ul>
        <li>
          <a href="dashboard">
            <ion-icon name="home"></ion-icon>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="dashboard/profile">
            <ion-icon name="settings"></ion-icon>
            <span>Profile & Settings</span>
          </a>
        </li>
        <li>
          <a href="/">
            <ion-icon name="globe"></ion-icon>
            <span>Website</span>
          </a>
        </li>
        <li class="logout-li">
          <a href="dashboard/logout" style="color: #454545;">
            <ion-icon name="log-out" size="large"></ion-icon>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</header>
