@use '../../../scss-styles/colors.scss';
@use '../../../scss-styles/fonts.scss';

.section-slide-container,
.section-slide-container .slide-img {
  width: 100%;
}

.section-slide-container .slide-img {
  aspect-ratio: 16/9;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    object-fit: cover;
  }
}

.section-topic-container {
  width: 100%;
  max-width: 1920px;
  margin: auto;

  & .topic-container {
    width: 100%;
    max-width: 1600px;
    padding: 9px;
    margin: auto;

    & > h1 {
      font-size: 34pt;
      margin: 1rem 0;
      font-weight: 300;
      color: #323232;
      padding: 3px 1px;
    }

    & .topic {
      width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;

      & .topic-div {
        box-shadow: 0px 3px 12px 4px #00000020;
        position: relative;
        border-radius: 8px;
        padding: 1rem;
        background-color: #fff;
        overflow: hidden;

        & > div {
          width: 100%;
          // position: absolute;
          bottom: 0;
          z-index: 2;
          padding: 1rem;
          font-size: 1.2rem;

          & > div {
            display: flex;
            flex-flow: column;
            gap: 5px;
          }

          & a {
            width: 100%;
            text-align: center;
            max-width: max-content;
            background-color: #fff;
            color: colors.$neon-blue;
            font-weight: 600;
            margin-top: 1rem;
            border: 1px solid #66556655;
            display: flex;
            align-items: center;
            padding: 0.4rem 1rem;
            border-radius: 2rem;
            text-decoration: none;
          }
        }
        & > h2 {
          color: #434343;
          font-weight: 600;
          font-size: 2rem;
          padding-left: 1rem;
        }
      }

      /* Card com imagem  */
      & .topic-div:nth-child(1) {
        flex-basis: 300px;
        grid-row: span 2;
        padding: 0;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          inset: 0;
          pointer-events: none;
          user-select: none;
          z-index: 1;
        }

        & > div {
          position: absolute;
          background: transparent;
          color: #fff;
          font-size: 14pt;
        }
      }
    }
  }
}

.banners-section-container {
  width: 100%;
  margin-top: 2.5rem;
  position: relative;

  & .banner-section {
    width: 100%;
    max-height: 600px;
    position: relative;
    background-color: #212121;
    aspect-ratio: 16/9;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .banner-section-info {
    width: 100%;
    max-width: 350px;
    user-select: none;
    overflow-y: auto;
    aspect-ratio: 4/3;
    max-height: 200px;
    opacity: 0.8;
    padding: 1rem;
    background-color: #00000020;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: #fff;
    border-radius: 8px;
    min-height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: start;
    gap: 2px;
    position: absolute;
    z-index: 2;
    top: 15%;
    right: 14px;
    transition: all 340ms ease-out;

    & h2 {
      font-size: 22pt;
      font-weight: 200;
      font-family: fonts.$RobotoCon;
      margin-bottom: 4px;
      padding-bottom: 7px;
      border-bottom: 1px solid #eaeaead1;
    }

    & span {
      font-weight: 200;
      line-height: 1.34;
      font-family: fonts.$Quicksand;
    }

    &:hover {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      opacity: 1;
      background-color: #00000080;
    }
  }

  .banner-section-info.toggle-banner-section {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    right: 0;
    opacity: 1;
    background-color: #121212;
    transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);

    & h2 {
      font-size: 2.5rem;
      font-weight: 600;
      transition: 500ms;
    }
    & span {
      font-size: 2.2rem;
      text-align: center;
      transition: all 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    }
  }
}

.banner-info-action {
  width: 100%;
  margin: 1rem 0 1px;

  & button {
    width: 100%;
    overflow: hidden;
    max-width: 2.6rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* gap: 1rem; */
    font-size: 2rem;
    padding: 4px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: transparent;
    text-align: left;
    color: #fff;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);

    & span,
    & ion-icon {
      user-select: none;
      pointer-events: none;
    }
    & span {
      display: block;
      width: 100%;
      max-width: 0rem;
      opacity: 0;
      // padding: 1px;
      transform: translateY(-0.6px);
      border: 1px solid #fff;
      transition:
        opacity 5ms ease 120ms,
        max-width 200ms ease-out 50ms;
    }
    &:hover {
      background-color: #fff;
      color: colors.$neon-blue;
      max-width: 8rem;

      & span {
        max-width: 100%;
        opacity: 1;
        border-color: colors.$neon-blue;
        border-radius: 8px;
      }
    }
  }
}

.banner-info-more {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 0.8rem;

  .banner-info-more-card {
    flex-basis: 280px;
    overflow: hidden;
    /* min-height: 140px; */
    border-radius: 10px;
    display: flex;
    transition: all 300ms ease-out;
    transform: scale(1);
    flex-flow: column nowrap;
  }

  .banner-info-card__img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    /* overflow: hidden; */
    pointer-events: none;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .banner-info-card__info {
    display: flex;
    flex-flow: column nowrap;

    & > strong {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      font-weight: lighter;
      color: gold;
      font-family: fonts.$Quicksand;
      text-transform: uppercase;
      text-align: center;
    }

    & > a {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 1rem;
      color: #fff;
      text-decoration: none;
      justify-content: center;

      &:hover {
        color: colors.$neon-blue;
        text-decoration: none;
        justify-content: center;
      }
    }
  }
}

.banners-section-container .banner-section-blur {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  justify-content: center;
  position: relative;
  background: #121212;

  &::before,
  &::after {
    content: '';
    width: 100%;
    display: block;
    background-color: #121212;
    padding: 0.6rem;
    min-height: 30px;
    position: absolute;
    z-index: 2;
    filter: blur(8px);
  }

  &::before {
    transform: translateY(-20px);
    top: 0;
  }

  &::after {
    transform: translateY(20px);
    bottom: 0;
  }

  & > h1 {
    font-size: 40pt;
    text-align: center;
    color: #fff;
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  .topic {
    display: flex !important;
    flex-flow: row wrap;

    & div:nth-child(1) {
      width: 100%;
      aspect-ratio: 16/9;
      max-width: 100% !important;

      & a {
        border: none;
      }
    }
  }
}
