<header class="header">
  <nav class="header-nav-container">
    <div class="header-search-container">
      <div class="header-search">
        <label for="search_insite">
          <ion-icon name="search" md></ion-icon>
        </label>
        <input type="search" placeholder="Ctrl + K" id="search_insite" />
      </div>
    </div>
    <ul>
      <a routerLink="/">
        <ion-icon name="home" ios></ion-icon>
        <span>Home</span>
      </a>
      <a routerLink="/user">
        <ion-icon name="person"></ion-icon>
        <span>User</span>
      </a>
      <a routerLink="/shop">
        <ion-icon name="car"></ion-icon>
        <span>Veículos</span>
      </a>
    </ul>
  </nav>
</header>
