@use '../../../../scss-styles/colors.scss';
@use '../../../../scss-styles/fonts.scss';

.car-selected-area {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(400px, 100%);
  gap: 8px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
form.car-form-selection {
  width: 100%;
  > fieldset {
    border: none;
    > div {
      display: flex;
      flex-flow: column wrap;
      gap: 5px;

      > select {
        padding: 1rem;
        border-radius: 6px;
        font-size: 1em;
      }
    }
  }
}
.car-data-section {
  width: 100%;
  // display: flex;
  // flex-flow: column wrap;
  display: grid;
  grid-template-columns: minmax(150px, max-content) 1fr;
  gap: 5px;
  margin: 10px auto;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr !important;
  }

  .car-data-top {
    padding: 0.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // align-items: start;
    justify-content: start;
    gap: 5px;

    div {
      height: auto;
      padding: 0.34rem;
      border-radius: 8px;
      background-color: #fafafa;
      color: #545454;
      display: flex;
      flex-flow: column nowrap;
      font-family: fonts.$Quicksand;
      justify-content: space-between;

      @media (min-width: 490px) and (max-width: 696px) {

        &:last-child {
          grid-column: span 2;
        }

        & {
          flex-flow: column nowrap;
        }
      }

      > h2 {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px 0;
        font-size: 1.4rem;
      }

      > div {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 2px;
        margin-top: auto;
      }

      > div p {
        width: max-content;
        color: colors.$neon-blue;
        font-weight: 600;
        padding: 2px 8px;
        border-radius: 8px;
        background-color: #fff;
      }
    }
  }

  .car-image-container {
    width: 100%;
    /* max-width: 700px; */
    overflow: hidden;
    margin: auto;
    position: relative;

    span {
      position: absolute;
      top: 4px;
      left: 4px;
      padding: 5px;
      user-select: all;
      border-radius: 20px;
      background-color: #fff;
      color: colors.$neon-blue;
    }
    img {
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
      border-radius: 10px;
    }
  }

  .car-datas {
    width: 100%;
    grid-column: span 2;
    display: flex;
    flex-flow: row wrap;
    row-gap: 3px;
    column-gap: 5px;
    row-gap: 7px;
    @media (max-width: 700px) {
      grid-column: 1;
    }

    div {
      flex: 1;
      border-radius: 8px;
      padding: 7px;
      background-color: #fff;
      border: 1px solid #dedede;
      font-family: fonts.$Quicksand;

      > h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
        // font-weight: 200;
        font-size: 1.2rem;
        padding: 4px;
        // border-radius: 5px;
        width: 100%;
        text-align: left;
        text-transform: capitalize;
        color: #545454;
        margin-bottom: 8px;
        border-bottom: 1px solid colors.$risd-blue;
        // background-color: colors.$risd-blue;
      }
      > p {
        user-select: all;
        font-size: 0.8rem;
        line-height: 1.5;
        color: #333;
      }
    }
  }
}

.dashboard-form-container {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/9;
  position: fixed;
  border-radius: 0.56rem;
  border: 1px solid #dedede;
  padding: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  > h1 {
    font-weight: 200;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding-bottom: 2px;
    border-bottom: 1px solid #dadada;
  }

  > form {
    width: 100%;
    border: none;

    fieldset {
      border: none;
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      margin: 8px auto;

      & div {
        flex-basis: 200px;
        display: flex;
        flex-flow: column nowrap;
        gap: 2px;
        position: relative;

        label {
          font-size: 1.34rem;
          display: block;
          font-weight: 200;
          font-family: fonts.$RobotoCon;
          margin-bottom: 2px;
        }

        input {
          width: 100%;
          background-color: #fff;
          border: 1px solid #bbbbbb;
          padding: 6px;
          text-indent: 3px;
          border-radius: 4px;
          font-size: 1.24rem;
          font-family: monospace;
        }
      }

      > button {
        background-color: #aaeea2;
        border: none;
        padding: 4px 1rem;
        border-radius: 6px;
        margin: 4px 0;
        width: 100%;
        max-width: 120px;
        font-size: 1.2rem;
        color: #323232;

        &:hover {
          background-color: #88d888;
        }
      }
    }
  }
}

.dashboard-form-container::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: -1;
}
